<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <%- include ./layout/style %>
  </head>
  <body>
    <h3>Hi, <%= userSession.username %></h3>
    Login sebagai: <%- userSession.role %>
    <ul>
      <% getUserAuth.forEach(ua => { %>
        <button onclick="window.location='<%- ua %>'" class="btn waves-effect waves-light"><%- ua %></button>
      <% }) %>
    </ul>
    <ul>
      <button onclick="window.location='/logout'" class="btn waves-effect waves-light">Logout</button>
    </ul>
  </body>
</html>
